<!DOCTYPE html>
<html>

<head>
	<!-- [Meta] -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- [Fonts] -->
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

	<title>CodeSnap Buttons</title>
	<!-- [CSS] -->
	<link rel="stylesheet" href="style.css">
	<!-- [JS] -->
	<script src="app.js" defer></script>
</head>

<body>
	<div class="container">

		<!-- Custom Select Box -->
		<div class="custom-select">
			<select>
				<option value="javascript">JavaScript</option>
				<option value="default">Default</option>
				<option value="ambiance">Ambiance</option>
				<option value="ayu-mirage">Ayu-Mirage</option>
				<option value="cobalt">Cobalt</option>
				<option value="dracula">Dracula</option>
				<option value="lucario">Lucario</option>
				<option value="material">Material</option>
				<option value="material-palenight">Material-Palenight</option>
				<option value="mdn-like">MDN-like</option>
				<option value="neo">Neo</option>
				<option value="oceanic-next">Oceanic-Next</option>
				<option value="paraiso-light">Paraiso-Light</option>
				<option value="shadowfox">Shadowfox</option>
				<option value="solarized-dark">Solarized-Dark</option>
				<option value="solarized-light">Solarized-Light</option>
				<option value="tomorrow-night-eighties">Tomorrow-Night-Eighties</option>
				<option value="yeti">Yeti</option>
				<option value="yonce">Yonce</option>
			</select>
			<span class="custom-arrow">
				<svg class="select-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
					style="enable-background:new 0 0 24 24;" xml:space="preserve">
					<path d="M8.1,9.3l3.9,3.9l3.9-3.9c0.4-0.4,1-0.4,1.4,0c0.4,0.4,0.4,1,0,1.4l-4.6,4.6c-0.4,0.4-1,0.4-1.4,0l-4.6-4.6
	c-0.4-0.4-0.4-1,0-1.4C7.1,8.9,7.7,8.9,8.1,9.3z" />
				</svg>
			</span>
		</div>

	</div>


</body>

</html>