<!DOCTYPE html>
<html>

<head>
	<!-- [Meta] -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- [Fonts] -->
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

	<title>CodeSnap Toggle</title>
	<!-- [CSS] -->
	<link rel="stylesheet" href="style.css">
	<!-- [JS] -->
	<script src="app.js" defer></script>
</head>

<body>

	<!-- [Box Shadow Toggle] -->
	<div class="tggl-wrap">
		<input class='tggl-input' id='boxShadow' type='checkbox'>
		<label class='tggl-btn txtswitch yang' for='boxShadow'>
			<span class="on">ON</span><span class="off">OFF</span>
		</label>
	</div>
	<!-- [Line Numbers Toggle] -->
	<div class="tggl-wrap">
		<input class='tggl-input' id='lineNumbers' type='checkbox'>
		<label class='tggl-btn txtswitch yang' for='lineNumbers'>
			<span class="on">ON</span><span class="off">OFF</span>
		</label>
	</div>
	<!-- [Heading Toggle] -->
	<div class="tggl-wrap">
		<input class='tggl-input' id='heading' type='checkbox'>
		<label class='tggl-btn txtswitch yang' for='heading'>
			<span class="on">ON</span><span class="off">OFF</span>
		</label>
	</div>


</body>

</html>