<!DOCTYPE html>
<html>

<head>
	<!-- [Meta] -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- [Fonts] -->
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">

	<title>CodeSnap</title>
	<!-- [CSS] -->
	<link rel="stylesheet" href="style.css">
	<!-- [JS] -->
	<script src="src/js/app.js"></script>
</head>

<body>

	<!-- [Navbar] -->
	<header>
		<div class="navbar">
			<div class="navbar-container">
				<div class="nav-item nav__logo">
					<a href="#">Code<span class="logo-style">Snap</span></a>
				</div>
				<div class="nav-item icons__container">
					<div class="nav__icon "></div>
					<div class="nav__icon"></div>
					<div class="nav__icon"></div>
				</div>
			</div>
		</div>
	</header>

	<!-- [Body] -->
	<section id="body"></section>

</body>

</html>