/* 
==========================
Fonts
==========================
*/
/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Quicksand', sans-serif; */

/* 
==========================
Colors
==========================
*/
:root {
	/* Portfolio Colors */
	--color-primary: #ffbd32;
	--color-primary-light: #ffd271;
	--color-secondary: #1b1e2c;
	--color-secondary-light: #272d41;
	--white: #ffffff;
	--light: #f7f9fd;
	--nav-col-gradient: ;
	--cta-gradient: ;
	--box-shadow: #2b2d34;
	/* 3 Dots */
	--color-dot-red: #ff5e57;
	--color-dot-yellow: #febc2e;
	--color-dot-green: #27c840;
	/* Typography */
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.0625rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 2.25rem;
	--line-height-xs: calc(16 / 14);
	--line-height-md: calc(27 / 17);
	--line-height-lg: 1.35;
	--line-height-xl: 1.25;
	--color-text-primary: #ffffff;
	--color-text-secondary: #b3b3b3;
	--color-text-select: var(--color-text-secondary);
	--color-select-bg: var(--color-secondary);
	--color-select-border: var(--color-text-secondary);
	--code-editor-text: #a5abd0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
}
