/* 
==========================
Fonts
==========================
*/
/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Quicksand', sans-serif; */

/* 
==========================
Colors
==========================
*/
:root {
	/* Portfolio Colors */
	--color-primary: #ffbd32;
	--color-primary-light: #ffd271;
	--color-secondary: #1b1e2c;
	--color-secondary-light: #272d41;
	--white: #ffffff;
	--light: #f7f9fd;
	--nav-col-gradient: ;
	--cta-gradient: ;
	--box-shadow: #2b2d34;
	/* 3 Dots */
	--color-dot-red: #ff5e57;
	--color-dot-yellow: #febc2e;
	--color-dot-green: #27c840;
	/* Typography */
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-md: 1.0625rem;
	--font-size-lg: 1.25rem;
	--font-size-xl: 2.25rem;
	--line-height-xs: calc(16 / 14);
	--line-height-md: calc(27 / 17);
	--line-height-lg: 1.35;
	--line-height-xl: 1.25;
	--color-text-primary: #ffffff;
	--color-text-secondary: #b3b3b3;
	--color-text-select: var(--color-text-secondary);
	--color-select-bg: var(--color-secondary);
	--color-select-border: var(--color-text-secondary);
	--code-editor-text: #a5abd0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Quicksand', sans-serif;
}
a {
	text-decoration: none;
}
label {
	display: block;
}

/* 
==========================
[Project]
==========================
*/
.project-container {
	height: 100vh;
	display: flex;
}

/* 
==========================
[Main Body]
==========================
*/
.main-body-container {
	width: 100%;
	height: 100%;
}

/* 
==========================
[Navbar] Section
==========================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.navbar-container {
	max-width: 75rem;
	margin: auto;
	padding: 1.2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__item.nav__logo {
	font-family: 'Lobster', sans-serif;
	font-size: var(--font-size-xl);
	color: var(--color-secondary);
	opacity: .9;
}

/* 
==========================
[Body] Section
==========================
*/
#body {
	background-color: var(--color-primary);
}
.body-container {
	height: 100vh;
	width: 100%;
	margin: auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px dashed var(--color-secondary); */
}
.input-box-wrapper {
	/* display: none; */

	width: 100%;
	height: auto;
	background-color: var(--color-secondary-light);
	border-radius: 5px;

	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22),
		0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}
.input-box__item.header {
	padding: .5rem;
	display: flex;
	align-items: center;
	background-color: var(--color-secondary);
	border-radius: 5px 5px 0 0;
}
.input-item__dots {
	padding: 7px;
	margin-right: 7.5px;
	border-radius: 50%;
}
.input-item__dots.red {
	background-color: var(--color-dot-red);
}
.input-item__dots.yellow {
	background-color: var(--color-dot-yellow);
}
.input-item__dots.green {
	background-color: var(--color-dot-green);
}

/* 
======================
Textarea Styles:
*/
.CodeMirror {
	/* Set height, width, borders, and global font properties here */
	padding: .5rem;
	font-family: 'PT Mono', monospace;
	font-size: 1rem;
	width: auto;
	line-height: 24px;
	min-height: 200px;
	border-radius: 0 0 5px 5px;
}

/* 
=================================
[Code Editor] Responsive Media
=================================
*/
@media (max-width: 32rem) {
	.CodeMirror {
		font-size: .8rem;
		line-height: 20px;
		padding: .5rem 0;
	}
}

/* 
=================================
[Side Bar]
=================================
*/
.side-nav {
	width: 300px;
	height: 100%;
	background-image: linear-gradient(
		180deg,
		var(--color-secondary-light) 50%,
		#373d4e 100%
	);
	padding: 2rem 1.4rem;
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: inset 6px 0 6px #121733;
}

/* 
=================================
[CTA Button]
=================================
*/
.btn {
	font-family: 'Quicksand', sans-serif;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: .5rem 1rem;
	border: 1px solid var(--light);
	border-radius: 0.3rem;
	box-shadow: 0 0 2px -1px var(--box-shadow),
		0 2px 9px -5px var(--box-shadow);
	transition: .2s;
}
.btn.cta {
	border: 1px solid var(--color-primary-light);
	background-image: linear-gradient(
		180deg,
		#ffcb5c 10%,
		#ffbd32 45%
	);
}
.btn__text {
	font-size: 1rem;
	cursor: pointer;
	background: none;
	color: var(--color-secondary-light);
	border: none;
	padding-right: 2.6rem;
}
.btn__icon {
	width: 1.4rem;
	fill: var(--color-secondary-light);
	background: none;
	cursor: pointer;
	border: none;
}
.btn__text:hover {
	opacity: .5;
}
.btn__icon:hover {
	opacity: .8;
}
.vertical-line {
	width: 1px;
	margin: 0 1rem;
	background-color: var(--color-secondary-light);
	height: 22px;
	opacity: .8;
}

/* 
=================================
[Nav Heading]
=================================
*/
.nav-heading {
	color: var(--color-text-primary);
	text-transform: uppercase;
	margin-top: 2rem;
}
