/* 
==========================
Fonts
==========================
*/
/* font-family: 'Lobster', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Quicksand', sans-serif; */

/* 
==========================
Colors
==========================
*/
:root {
	/* Portfolio Colors */
	--primary-color-blue: #0479f1;
	--primary-color-yellow: #ffbd32;
	--input-header: #1b1e2c;
	--input-box: #272c36;
	--input-box-text: #666d98;
	--white: #ffffff;
	--light: #f7f9fd;
	--color1: #c86de0;
	--color2: #ff6eb3;
	--color3: #ff9181;
	--color4: #f9f871;
	--color5: #e43661;
	--logo-gradient: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	);

	/* 3 Dots */
	--dot-color-red: #ff5e57;
	--dot-color-yellow: #febc2e;
	--dot-color-green: #27c840;
	/* Typography Colors */
	--p-text: #2e2e2e;
	--h-text: #181818;
	--btn-text: #181818;
	--p-text-dark: #fff3ec;
	--h-text-dark: #fffffe;
	--btn-text-dark: #fffffe;
}

/* 
==========================
Page Reset
==========================
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif;
	/* height: 100vh; */

	background-color: var(--primary-color-yellow);
	/* background-color: #fff; */
}
a {
	text-decoration: none;
}
label {
	display: block;
}

/* 
==========================
[Navbar] Section
==========================
*/
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.navbar-container {
	max-width: 75rem;
	margin: auto;
	padding: 1.2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__item.nav__logo {
	font-family: 'Lobster', sans-serif;
	color: var(--h-text);
	font-size: 2rem;
	transition: 0.1s ease-in;
}
.nav__item.nav__logo:hover {
	opacity: 0.9;
}
.nav__logo a {
	color: var(--input-header);
	opacity: .9;
}
/* Snap text gradient color */
.logo-style {
	/* background: -webkit-linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#ffcc70 100%
	); */
	/* background: -webkit-linear-gradient(
		45deg,
		#fa8bff 0%,
		#2bd2ff 52%,
		#2bff88 90%
	); */
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

/* 
==========================
[Body] Section
==========================
*/
.body-container {
	height: 100vh;
	margin: auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input-box-wrapper {
	width: 40rem;
	height: auto;
	background-color: var(--input-box);
	border-radius: 5px;

	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22),
		0 4.8px 14.4px 0 rgba(0, 0, 0, .18);
}
.input-box__item.dots {
	padding: .5rem;
	display: flex;
	align-items: center;
	background-color: var(--input-header);
	border-radius: 5px;
}
.input-item__dot {
	padding: 7px;
	justify-content: flex-start;
	margin-right: 7.5px;
	border-radius: 6px;
}
.input-item__dot.red {
	background-color: var(--dot-color-red);
}
.input-item__dot.yellow {
	background-color: var(--dot-color-yellow);
}
.input-item__dot.green {
	background-color: var(--dot-color-green);
}

/* 
======================
Textarea Styles:
*/
.grow-wrap {
	/* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
	padding: .5rem;
	display: grid;
	font: 1rem/1.4 system-ui, sans-serif;
}
.grow-wrap::after {
	/* Note the weird space! Needed to preventy jumpy behavior */
	content: attr(data-replicated-value) " ";

	/* This is how textarea text behaves */
	white-space: pre-wrap;

	/* Hidden from view, clicks, and screen readers */
	visibility: hidden;
}
.grow-wrap > textarea {
	/* You could leave this, but after a user resizes, then it ruins the auto sizing */
	resize: none;

	/* Firefox shows scrollbar on growth, you can hide like this. */
	overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
	/* Identical styling required!! */
	min-height: 200px;
	border: none;
	background-color: var(--input-box);
	padding: 0.5rem;
	font: inherit;
	color: var(--input-box-text);
	caret-color: var(--input-box-text);
	outline: none;

	/* Place on top of each other */
	grid-area: 1 / 1 / 2 / 2;
}

/* 
=================================
[Section Name] Web Responsive Media
=================================
*/
/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
}

/** For mobile devices **/
@media (max-width: 767px) {
}
